<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="http://localhost:9090/mysuper/resources/jquery/jquery-1.7.1.js"></script>

<title>Home</title>
</head>
<body>
  Welcome to Velocity @${currTime};
  ${contextPath}====>"${contextPath}"
</body>
<script type="text/javascript">
  ##include("jquery/jquery-1.7.1.js")
  
  $(document).ready(function(){
      alert("${currTime}@${contextPath}");
  });
</script>
</html>
